Repository State-of-Rhode-Island-eCMS/ecms_patternlab, pull requests merged in 2020-12, with the labels that each got.

#50 IE 11 fixes, Hotel theming
  CHANGELOG.md
  dist/css/pattern-lab-compiled.css
  source/_patterns/00-atoms/00-base/_mixins.scss
  source/_patterns/00-atoms/02-text/_00-typography.scss
  source/_patterns/00-atoms/02-text/_01-links.scss
  source/_patterns/01-molecules/page_title_with_image/_page_title_with_image.scss
  source/_patterns/01-molecules/site-branding/_site-branding.scss
  source/_patterns/01-molecules/teaser-hotel/_teaser-hotel.scss
  source/_patterns/01-molecules/teaser-hotel/teaser-hotel.twig
  source/_patterns/01-molecules/teaser-promotion/_teaser-promotion.scss
  source/_patterns/01-molecules/teaser-promotion/teaser-promotion.twig
  source/_patterns/02-organisms/articles-latest/_articles-latest.scss
  source/_patterns/02-organisms/articles-list/_articles-list.scss
  source/_patterns/02-organisms/hotels-grid/_hotels-grid.scss
  source/_patterns/02-organisms/hotels-grid/hotels-grid.twig
  source/_patterns/02-organisms/navigation-main/_navigation-main.scss
  source/_patterns/02-organisms/page-footer/_page-footer.scss
  source/_patterns/02-organisms/paragraphs/attention-card-w-icon/_attention-card-w-icon.scss
  source/_patterns/02-organisms/promotions-block/_promotions-block.scss
  source/_patterns/02-organisms/text-card-collection/_text-card-collection.scss
  source/_patterns/03-templates/00-layout/_layout-section.scss
  source/_patterns/03-templates/00-layouts/_page.scss
  source/_patterns/03-templates/01-content/node--hotel--full.twig
  source/_patterns/04-pages/hotel_temp/hotel_temp.twig
  source/images/sample/ridata.jpg
Labels: scss, twig

#51 Prepare CHANGELOG for 0.2.8 release
  CHANGELOG.md
Labels: approved

#54 IE11 fixes, theme tweaks, user dashboard styles.
  CHANGELOG.md
  dist/css/pattern-lab-compiled.css
  dist/js/pattern-lab-compiled-min.js
  dist/js/pattern-lab-compiled.js
  source/_data/color-config.hjson
  source/_data/color-config.json
  source/_data/colors-generated.json
  source/_meta/_00-head.twig
  source/_patterns/00-atoms/00-base/__variables.scss
  source/_patterns/01-molecules/site-search/_site-search.scss
  source/_patterns/01-molecules/site-search/site-search--inner.twig
  source/_patterns/01-molecules/teaser-hotel/_teaser-hotel.scss
  source/_patterns/01-molecules/user-settings/_user-settings.scss
  source/_patterns/01-molecules/user-settings/user-settings.js
  source/_patterns/01-molecules/user-settings/user-settings.twig
  source/_patterns/01-molecules/watson-chat/watson-chat.twig
  source/_patterns/02-organisms/hotels-grid/_hotels-grid.scss
  source/_patterns/02-organisms/navigation-main/_navigation-main.scss
  source/_patterns/02-organisms/navigation-minor/_navigation-minor.scss
  source/_patterns/02-organisms/notfications-block/_notifications-block.scss
  source/_patterns/02-organisms/notfications-block/notifications-block.js
  source/_patterns/03-templates/00-layouts/_page.scss
  source/_patterns/03-templates/00-layouts/html.html.pl.twig
  source/_patterns/03-templates/01-content/_node--hotel--full.scss
  source/_patterns/03-templates/01-content/node--hotel--full.twig
  source/_patterns/04-pages/covid-19.twig
  source/_patterns/04-pages/hotel_temp/hotel_temp.twig
  source/_patterns/04-pages/maintenance.twig
Labels: js, scss, twig

#56 Publication list and teaser theming, Wickaboxet theme.
  CHANGELOG.md
  dist/css/pattern-lab-compiled.css
  source/_data/color-config.hjson
  source/_data/color-config.json
  source/_data/colors-generated.json
  source/_meta/_00-head.twig
  source/_patterns/00-atoms/01-global/_00-themes.scss
  source/_patterns/00-atoms/02-text/_00-typography.scss
  source/_patterns/00-atoms/03-lists/_lists.scss
  source/_patterns/00-atoms/06-buttons/_00-buttons.scss
  source/_patterns/01-molecules/file/file.json
  source/_patterns/01-molecules/file/file.twig
  source/_patterns/01-molecules/teaser-publication/teaser-publication.json
  source/_patterns/01-molecules/teaser-publication/teaser-publication.twig
  source/_patterns/02-organisms/navigation-main/navigation-main.twig
  source/_patterns/02-organisms/navigation-minor/_navigation-minor.scss
  source/_patterns/02-organisms/navigation-minor/navigation-minor.twig
  source/_patterns/02-organisms/paragraphs/accordion/_accordion.scss
  source/_patterns/02-organisms/paragraphs/accordion/accordion.pl.twig
  source/_patterns/02-organisms/paragraphs/file-list/_file-list.scss
  source/_patterns/02-organisms/paragraphs/publication-list/publication-list.twig
  source/_patterns/04-pages/covid-19.twig
  source/images/icons/globe.svg
  source/images/icons/link-external.svg
Labels: js, scss, twig

#60 RIG 130/12-10: Theme fine-tuning for component margins, spacing, and layout
  dist/css/pattern-lab-compiled.css
  dist/js/pattern-lab-compiled-min.js
  dist/js/pattern-lab-compiled.js
  source/_patterns/01-molecules/teaser-hotel/_teaser-hotel.scss
  source/_patterns/02-organisms/paragraphs/attention-card-w-icon/_attention-card-w-icon.scss
  source/_patterns/02-organisms/paragraphs/card/_card.scss
  source/_patterns/02-organisms/paragraphs/card/card.twig
  source/_patterns/02-organisms/promotions-block/_promotions-block.scss
  source/_patterns/03-templates/00-layout/_layout-section.scss
  source/_patterns/03-templates/00-layouts/_page.scss
Labels: scss, twig

#61 Prepare changelog for 0.3.3
  CHANGELOG.md
Labels: approved, release

#62 Prepare for the 0.3.4 tag
  CHANGELOG.md
Labels: approved, release

#64 Fixes for navigation styles and links, other cosmetic tweaks
  dist/css/pattern-lab-compiled.css
  source/_patterns/01-molecules/site-search/_site-search.scss
  source/_patterns/02-organisms/navigation-main/_navigation-main.scss
  source/_patterns/02-organisms/navigation-minor/_navigation-minor.scss
Labels: scss

#63 Remove the raw filter from the page footer output
  CHANGELOG.md
  source/_patterns/02-organisms/page-footer/page-footer.twig
Labels: twig

#65 Prepare changelog for 0.3.5
  CHANGELOG.md
Labels: release

#66 Resolve banner issue for anon users
  CHANGELOG.md
  dist/js/pattern-lab-compiled-min.js
  dist/js/pattern-lab-compiled.js
  source/_patterns/02-organisms/notfications-block/notifications-block.js
Labels: js

#69 Prepare CHANGELOG for 0.3.8 release
  CHANGELOG.md
Labels: approved

#71 Prepare CHANGELOG for 0.3.9 release
  CHANGELOG.md
Labels: approved

#72 Change from grid to flex on column container component
  dist/css/pattern-lab-compiled.css
  source/_patterns/00-atoms/00-base/__webfonts.scss
  source/_patterns/02-organisms/paragraphs/column-container/_column-container.scss
Labels: scss
