Repository State-of-Rhode-Island-eCMS/ecms_patternlab, pull requests merged in 2021-01, with the labels that each got.

#74 Add gallery functionality
  CHANGELOG.md
  dist/css/pattern-lab-compiled.css
  dist/js/pattern-lab-compiled-min.js
  dist/js/pattern-lab-compiled.js
  dist/vendor/tiny-slider/tiny-slider.css
  dist/vendor/tiny-slider/tiny-slider.js
  package.json
  source/_meta/_00-head.twig
  source/_patterns/02-organisms/paragraphs/gallery/_gallery.scss
  source/_patterns/02-organisms/paragraphs/gallery/gallery.js
  source/_patterns/02-organisms/paragraphs/gallery/gallery.twig
  source/js/global.js
  source/vendor/tiny-slider/tiny-slider.css
  source/vendor/tiny-slider/tiny-slider.js
Labels: js, scss, twig

#75 Prepare changelog for release 0.4.1
  CHANGELOG.md
Labels: approved

#76 Fix reoccurring attributes error message appearing in search
  CHANGELOG.md
  source/_patterns/02-organisms/articles-list/articles-list.twig
Labels: approved

#80 Header, Image, and Action component with some misc LB fixes
  source/_patterns/00-atoms/02-text/_00-typography.scss
  source/_patterns/01-molecules/header_image_action/_header_image_action.scss
  source/_patterns/01-molecules/header_image_action/header_image_action.json
  source/_patterns/01-molecules/header_image_action/header_image_action.twig
  source/_patterns/03-templates/00-layout/one-column.twig
  source/_patterns/04-pages/covid-19.twig
Labels: bug, enhancement, scss, twig

#81 Prepare CHANGELOG for 0.4.3 release
  CHANGELOG.md
Labels: approved

#84 Wire up logo only functionality
  CHANGELOG.md
  source/_patterns/01-molecules/site-branding/site-branding.twig
Labels: approved, twig

#87 Numbered step theming
  CHANGELOG.md
  dist/css/pattern-lab-compiled.css
  dist/js/pattern-lab-compiled-min.js
  dist/js/pattern-lab-compiled.js
  source/_patterns/00-atoms/02-text/_00-typography.scss
  source/_patterns/00-atoms/06-buttons/_00-buttons.scss
  source/_patterns/01-molecules/numbered-step-item/_numbered-stem-item.scss
  source/_patterns/01-molecules/numbered-step-item/numbered-step-item.twig
  source/_patterns/02-organisms/numbered-step-list/numbered-step-list.twig
Labels: scss, twig

#88 Wide logo Support
  CHANGELOG.md
  dist/css/pattern-lab-compiled.css
  dist/js/pattern-lab-compiled-min.js
  dist/js/pattern-lab-compiled.js
  source/_patterns/00-atoms/04-images/00-logo.twig
  source/_patterns/01-molecules/site-branding/_site-branding.scss
  source/_patterns/01-molecules/site-branding/site-branding.twig
  source/_patterns/02-organisms/page-header/_page-header.scss
  source/_patterns/02-organisms/page-header/page-header.json
  source/images/logo.png
  source/images/sample/agency-logo.png
  source/images/sample/wide-logo-white.png
Labels: scss, twig

#89 Prepare CHANGELOG for 0.4.6
  CHANGELOG.md
Labels: approved
