Repository State-of-Rhode-Island-eCMS/ecms_patternlab, pull requests merged in 2021-02, with the labels that each got.

#90 Events latest and Events full listing
  dist/css/pattern-lab-compiled.css
  dist/js/pattern-lab-compiled-min.js
  dist/js/pattern-lab-compiled.js
  dist/vendor/rrule/rrule.min.js
  source/_meta/_00-head.twig
  source/_patterns/00-atoms/02-text/_00-typography.scss
  source/_patterns/01-molecules/teaser-event/_teaser-event.scss
  source/_patterns/01-molecules/teaser-event/teaser-event.js
  source/_patterns/01-molecules/teaser-event/teaser-event.json
  source/_patterns/01-molecules/teaser-event/teaser-event.twig
  source/_patterns/02-organisms/event-listing/_event-listing.scss
  source/_patterns/02-organisms/event-listing/event-listing.twig
  source/_patterns/02-organisms/events-latest/_events-latest.scss
  source/_patterns/02-organisms/events-latest/events-latest.twig
  source/_patterns/03-templates/00-layout/_layout-section.scss
  source/vendor/rrule/rrule.min.js
Labels: js, scss, twig

#91 Theme event full display mode
  CHANGELOG.md
  dist/css/pattern-lab-compiled.css
  dist/js/pattern-lab-compiled-min.js
  dist/js/pattern-lab-compiled.js
  source/_patterns/00-atoms/02-text/_00-typography.scss
  source/_patterns/03-templates/01-content/_node--event--full.scss
  source/_patterns/03-templates/01-content/node--event--full.json
  source/_patterns/03-templates/01-content/node--event--full.twig
Labels: scss, twig

#92 Prepare CHANGELOG for 0.4.7 release
  CHANGELOG.md
  dist/css/pattern-lab-compiled.css
Labels: release

#93 BUG: Color of links inheriting from light mode
  source/_patterns/02-organisms/paragraphs/gallery/_gallery.scss
Labels: bug, enhancement

#99 Theme google translator
  CHANGELOG.md
  dist/css/pattern-lab-compiled.css
  source/_patterns/01-molecules/user-settings/_user-settings.scss
  source/_patterns/02-organisms/global-header/_global-header.scss
  source/_patterns/02-organisms/global-header/global-header.twig
  source/_patterns/02-organisms/google-translator-block/_google-translator-block.scss
  source/_patterns/02-organisms/google-translator-block/google-translator-block.twig
  source/_patterns/02-organisms/page-header/page-header.twig
  source/_patterns/03-templates/00-layouts/_page--landing-page.html.pl.twig
  source/_patterns/03-templates/00-layouts/_page.html.pl.twig
  source/images/icons/cog.svg
  source/images/icons/globe.svg
Labels: scss, twig
